VITE_SUPABASE_URL=https://jpuotljgoukutbrxfnvb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwdW90bGpnb3VrdXRicnhmbnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1Njg4NjYsImV4cCI6MjA5MDE0NDg2Nn0.21KdmqDVWYGmcZ-Q-TtqVouGyiuNU0P_AKj45PCAo7o